@{
    ViewBag.Title = "RankingVendedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-header bg-dark text-white">
                    <span class="h4">Vendas por Período</span>
                </div>
                <div class="card-body">
                    <form action="/Relatorios/GerarRelatorioRankingVendedores" method="get" target="_blank" id="formRankingVendedores">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="mes">Mês</label>
                                <select name="mes" id="mes" class="form-control">
                                    @{
                                        var mesAtual = System.DateTime.Today.Month;
                                    }
                                    <option value="01" @(mesAtual == 1 ? "selected" : "")>Janeiro</option>
                                    <option value="02" @(mesAtual == 2 ? "selected" : "")>Fevereiro</option>
                                    <option value="03" @(mesAtual == 3 ? "selected" : "")>Março</option>
                                    <option value="04" @(mesAtual == 4 ? "selected" : "")>Abril</option>
                                    <option value="05" @(mesAtual == 5 ? "selected" : "")>Maio</option>
                                    <option value="06" @(mesAtual == 6 ? "selected" : "")>Junho</option>
                                    <option value="07" @(mesAtual == 7 ? "selected" : "")>Julho</option>
                                    <option value="08" @(mesAtual == 8 ? "selected" : "")>Agosto</option>
                                    <option value="09" @(mesAtual == 9 ? "selected" : "")>Setembro</option>
                                    <option value="10" @(mesAtual == 10 ? "selected" : "")>Outubro</option>
                                    <option value="11" @(mesAtual == 11 ? "selected" : "")>Novembro</option>
                                    <option value="12" @(mesAtual == 12 ? "selected" : "")>Dezembro</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ano">Ano</label>
                                <select name="ano" id="ano" class="form-control">
                                    @{
                                        var anoAtual = System.DateTime.Today.Year;
                                    }
                                    <option value="2010" @(anoAtual == 2010 ? "selected" : "")>2010</option>
                                    <option value="2011" @(anoAtual == 2011 ? "selected" : "")>2011</option>
                                    <option value="2012" @(anoAtual == 2012 ? "selected" : "")>2012</option>
                                    <option value="2013" @(anoAtual == 2013 ? "selected" : "")>2013</option>
                                    <option value="2014" @(anoAtual == 2014 ? "selected" : "")>2014</option>
                                    <option value="2015" @(anoAtual == 2015 ? "selected" : "")>2015</option>
                                    <option value="2016" @(anoAtual == 2016 ? "selected" : "")>2016</option>
                                    <option value="2017" @(anoAtual == 2017 ? "selected" : "")>2017</option>
                                    <option value="2018" @(anoAtual == 2018 ? "selected" : "")>2018</option>
                                    <option value="2019" @(anoAtual == 2019 ? "selected" : "")>2019</option>
                                    <option value="2020" @(anoAtual == 2020 ? "selected" : "")>2020</option>
                                    <option value="2021" @(anoAtual == 2021 ? "selected" : "")>2021</option>
                                    <option value="2022" @(anoAtual == 2022 ? "selected" : "")>2022</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="dataEmissaoFim">Exportar para</label>
                                <select name="exportarPara" id="exportarPara" class="form-control" required>
                                    <option value="pdf">PDF</option>
                                    <option value="excel">Excel</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="button" id="btnGerarRelatorio" name="gerarRelatorio" class="btn btn-success mr-1" onclick="$('#formRankingVendedores').submit()">Gerar Relatório</button>
                    @Html.ActionLink("Voltar", "Index", "Dashboard", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>

