@model UNIFAFIBE.TCC._4Sales.Aplicacao.ViewModel.TransportadoraViewModel

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Alterar", "Transportadora", "POST"))
{
    @Html.AntiForgeryToken()

    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card border-dark">
                <div class="card-header bg-dark">
                    <span class="h5 text-white">
                        <i class="fas fa-truck icone-cadastro"></i>
                        Alterar Transportadora
                    </span>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row mt-1">
                            <div class="col-lg-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TransportadoraId)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.Hidden("estadoValue", Model.Estado, new { id = "valueEstado" })
                                    <div class="col-lg-4">
                                        <select name="estado" id="estado" class="form-control">
                                            <option value="">-------</option>
                                            <option value="AC">Acre</option>
                                            <option value="AL">Alagoas</option>
                                            <option value="AP">Amapá</option>
                                            <option value="AM">Amazonas</option>
                                            <option value="BA">Bahia</option>
                                            <option value="CE">Ceará</option>
                                            <option value="DF">Distrito Federal</option>
                                            <option value="ES">Espírito Santo</option>
                                            <option value="GO">Goiás</option>
                                            <option value="MA">Maranhão</option>
                                            <option value="MT">Mato Grosso</option>
                                            <option value="MS">Mato Grosso do Sul</option>
                                            <option value="MG">Minas Gerais</option>
                                            <option value="PA">Pará</option>
                                            <option value="PB">Paraíba</option>
                                            <option value="PR">Paraná</option>
                                            <option value="PE">Pernambuco</option>
                                            <option value="PI">Piauí</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                            <option value="RN">Rio Grande do Norte</option>
                                            <option value="RS">Rio Grande do Sul</option>
                                            <option value="RO">Rondônia</option>
                                            <option value="RR">Roraima</option>
                                            <option value="SC">Santa Catarina</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="SE">Sergipe</option>
                                            <option value="TO">Tocantins</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InformacoesAdicionais, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.InformacoesAdicionais, new { @class = "form-control", rows = 4 })
                                        @Html.ValidationMessageFor(model => model.InformacoesAdicionais, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 d-flex justify-content-end">
                        <div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            @Html.ActionLink("Cancelar", "Index", "PainelAdministrativo", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#estado").val($("#valueEstado").val());
        });
    </script>
}
