
@{
    ViewBag.Title = "Painel Administrativo";
}

<div class="row mt-3">
    <div class="col-md-12">
        <div id="tabs-usuario">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="usuario-tab" data-toggle="tab" href="#usuario"
                       role="tab" aria-controls="usuario" aria-selected="true"><i class="fas fa-users icone-tab"></i>Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="outros-cadastros-tab" data-toggle="tab"
                       href="#outros-cadastros" role="tab" aria-controls="outros-cadastros"
                       aria-selected="false"><i class="fas fa-folder icone-tab"></i>Outros Cadastros</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div div class="tab-pane fade show active" id="usuario" role="tabpanel"
                 aria-labelledby="usuario-tab">
                <div class="row mt-3">
                    <div class="col-md-12 mb-3 mt-1">
                        <a href="@Url.Action("Novo", "Usuario")" class="btn btn-criar">
                            <i class="fas fa-plus icone-criar"></i>Novo
                            Usuário
                        </a>
                    </div>

                    <div class="col-md-12 mt-3">
                        <span class="h5">RESPONSÁVEIS</span>
                        <hr class="linha">
                    </div>

                    <div id="content-responsavel" class="col-md-12 p-0">

                    </div>

                    <div class="col-md-12 mt-3">
                        <span class="h5">USUÁRIOS</span>
                        <hr class="linha">
                    </div>


                    <div id="content-usuarios" class="col-md-12 p-0">

                    </div>

                </div>
            </div>

            <div div class="tab-pane fade" id="outros-cadastros" role="tabpanel"
                 aria-labelledby="outros-cadastros-tab">
                <div class="row mt-3">
                    <div class="col-md-12 d-flex justify-content-center">
                        <ul class="nav nav-pills mb-3" id="outros-cadastros-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-transportadora-tab"
                                   data-toggle="pill" href="#transportadora-tab" role="tab"
                                   aria-controls="pills-transportadora"
                                   aria-selected="true">Transportadora</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-tipo-tab" data-toggle="pill"
                                   href="#pills-tipo" role="tab" aria-controls="pills-tipo"
                                   aria-selected="false">Tipo Pedido</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-status-tab" data-toggle="pill"
                                   href="#pills-status" role="tab" aria-controls="pills-status"
                                   aria-selected="false">Status Pedido</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-meta-tab" data-toggle="pill"
                                   href="#pills-meta" role="tab" aria-controls="pills-meta"
                                   aria-selected="false">Meta</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content col-md-12" id="content-tab">
                        <div class="tab-pane fade show active" id="transportadora-tab" role="tabpanel"
                             aria-labelledby="pills-transportadora">

                            <form>
                                <div class="form-row d-flex justify-content-between mt-3 mb-4">
                                    <div class="input-group col-md-4 mt-3">
                                        <a class="btn btn-criar"
                                           href="/Transportadora/Novo">
                                            <i class="fas fa-plus icone-criar"></i>Cadastrar
                                            Transportadora
                                        </a>
                                    </div>
                                    <div class="input-group col-md-4 mt-3">
                                        <input type="text" class="form-control" placeholder="Pesquisar transportadora" id="pesquisa-transportadora">
                                        <div class="input-group-append" id="btnPesquisarTransportadora">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="fas fa-search icone-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row mb-3" id="loading-transportadora" style="display:none;">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <img src="~/assets/img/ajax-loader.gif" alt="Carregando ..." />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" id="content-transportadoras">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-tipo" role="tabpanel"
                             aria-labelledby="pills-tipo-tab">
                            <div class="">

                            </div>
                            <form>
                                <div class="form-row mt-4 mb-3">
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control"
                                               id="descricao-tipo-pedido" name="descricao-tipo-pedido"
                                               placeholder="Criar novo tipo pedido">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <button class="btn btn-criar" id="btnIncluirTipoPedido" type="button">Cadastrar</button>
                                    </div>
                                </div>
                            </form>

                            <div class="row mb-3" id="loading-tipo-pedido" style="display:none;">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <img src="~/assets/img/ajax-loader.gif" alt="Carregando ..." />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" id="content-tipo-pedido">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-status" role="tabpanel"
                             aria-labelledby="pills-status-tab">

                            <form>
                                <div class="form-row mt-4 mb-3">
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control"
                                               id="descricao-status-pedido" name="descricao-status-pedido"
                                               placeholder="Criar novo status pedido">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <button class="btn btn-criar" id="btnIncluirPedido" type="button">Cadastrar</button>
                                    </div>
                                </div>
                            </form>

                            <div class="row mb-3" id="loading-status-pedido" style="display:none;">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <img src="~/assets/img/ajax-loader.gif" alt="Carregando ..." />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 content-status-pedido" id="content-status-pedido">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-meta" role="tabpanel"
                             aria-labelledby="pills-meta">

                            <form>
                                <div class="form-row d-flex justify-content-between mt-3 mb-4">
                                    <div class="input-group col-md-4 mt-3">
                                        <a class="btn btn-criar"
                                           href="/Meta/Novo">
                                            <i class="fas fa-plus icone-criar"></i>Cadastrar
                                            Meta
                                        </a>
                                    </div>
                                    @*<div class="input-group col-md-4 mt-3">
                                        <input type="text" class="form-control" placeholder="Pesquisar meta" id="pesquisa-meta">
                                        <div class="input-group-append" id="btnPesquisarMeta">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="fas fa-search icone-search"></i>
                                            </span>
                                        </div>
                                    </div>*@
                                </div>
                            </form>

                            <div class="row mb-3" id="loading-meta" style="display:none;">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <img src="~/assets/img/ajax-loader.gif" alt="Carregando ..." />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" id="content-meta">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/Scripts/MeusDados")
    <script>
        if (fGlobal.IsNotEmpty('@TempData["CadastradoSucesso"]'))
        {
            fGlobal.EmitirNotificacao("Sucesso",'@TempData["CadastradoSucesso"]', "info");
        }

        if (fGlobal.IsNotEmpty('@TempData["AtualizadoSucesso"]'))
        {
            fGlobal.EmitirNotificacao("Sucesso",'@TempData["AtualizadoSucesso"]', "warning");
        }

        if (fGlobal.IsNotEmpty('@TempData["DesativadoSucesso"]'))
        {
            fGlobal.EmitirNotificacao("Sucesso",'@TempData["DesativadoSucesso"]', "danger");
        }

        if (fGlobal.IsNotEmpty('@TempData["RemovidoSucesso"]'))
        {
            fGlobal.EmitirNotificacao("Sucesso",'@TempData["RemovidoSucesso"]', "danger");
        }
    </script>
}